#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_6col_layout;
        // zmk,physical-layout = &foostan_corne_5col_layout;
    };
};

/ {
    behaviors {
        gqt: global-quick-tap {
            compatible = "zmk,behavior-hold-tap";
            label = "GLOBAL_QUICK_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        Dda: Dda {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp D &kp A &kp SPACE>;
            label = "DDA";
        };

        pw_1: pw_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp W &kp UNDER &kp N1>;
            label = "PW_1";
        };

        pw_2: pw_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp W &kp UNDER &kp N2>;
            label = "PW_2";
        };

        pw_3: pw_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp W &kp UNDER &kp N3>;
            label = "PW_3";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QDRWB";

            // -----------------------------------------------------------------------------------------
            // | TAB  |  Q  |  D  |  R  |  W  |  B  |   |  J  |  F   |  U  |  P  |  ;  | ESC   |
            // | BSPC |  A  |  S  |  H  |  T  |  G  |   |  Y  |  N   |  E  |  O  |  I  |  '    |
            // | SHFT |  Z  |  X  |  M  |  C  |  V  |   |  K  |  L   |  ,  |  .  |  /  | CTRL  |
            //                    | ALT | GUI | SPC |   | ENT | LWR  |  ~  |

            bindings = <
&gqt LS(TAB) TAB  &kp Q        &gqt LC(LA(LG(LS(D)))) D  &gqt LC(LA(LG(LS(R)))) R  &gqt LC(LA(LG(LS(W)))) W  &gqt PIPE B                 &gqt BSLH J  &gqt EQUAL F  &gqt MINUS U         &gqt PLUS P  &gqt COLON SEMI  &kp ESC
&gqt DEL BSPC     &gqt N1 A    &gqt N2 S                 &gqt N3 H                 &gqt N4 T                 &gqt N5 G                   &gqt N6 Y    &gqt N7 N     &gqt N8 E            &gqt N9 O    &gqt N0 I        &gqt GRAVE SQT
&kp LSHFT         &gqt LBKT Z  &gqt RBKT X               &gqt LPAR M               &gqt RPAR C               &gqt LC(LA(LG(LS(N)))) V    &gqt LBRC K  &gqt RBRC L   &gqt LT COMMA        &gqt GT DOT  &gqt QMARK FSLH  &kp RCTRL
                                                         &kp RALT                  &kp LGUI                  &lt 1 SPACE                 &kp RET      &mo 1         &gqt LG(SEMI) TILDE
            >;
        };

        lower_layer {
            label = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   |     |      |       |       |     |      |
            // |      | F1  | F2  | F3  | F4  | F5  |   |     | LFT  | DWN   |  UP   | RGT |      |
            // |      | F6  | F7  | F8  | F9  | F10 |   |     | HOME | PG_DN | PG_UP | END |      |
            //                    |     |     |     |   |     |      |       |

            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp C_VOLUME_UP  &Dda      &pw_1      &pw_2      &pw_3      &trans
&trans      &kp F1        &kp F2        &kp F3        &kp F4        &kp F5          &kp K_MUTE       &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans
&trans      &kp F6        &kp F7        &kp F8        &kp F9        &kp F10         &kp C_VOL_DN     &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &trans
                                        &trans        &trans        &trans          &trans           &trans    &trans
            >;        };

    };
};
